.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.logo {
  width: 220px;
  object-fit: contain;
}

.tagline {
  font-size: 1rem;
  color: #444;
  font-weight: 500;
  line-height: 1.3;
  max-width: 320px;
}
