.wrapper {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  gap: 2.5rem;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  background: linear-gradient(
      rgba(255, 255, 255, 0.92),
      rgba(255, 255, 255, 0.92)
    ),
    url("/bg-pattern-light.png");
  background-size: cover;
  background-position: center;
}

.adminLogin {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  color: #333;
}

.logoBlock {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
